.roomJoin {
    width: auto;
    max-width: 75vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 100px;
    background-color: #595260;
    padding: 20px 50px 20px 50px;
    font-family: 'Mandala', sans-serif;
    grid-column: 1;
    height: fit-content;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 0 5px var(--green), 0 0 0 10px var(--yellow), 0 0 0 15px var(--red);
}

.roomJoin input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #212121;
    border-radius: 5px;
    font-family: 'Mandala', sans-serif;
}

body {
    background-color: #212121;
}

.roomJoin button {
    width: 50%;
    padding: 5px;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--yellow);
    font-size: 1em;
    font-family: 'Mandala', sans-serif;
    box-shadow: 0 0 0 3px var(--green), 0 0 0 6px var(--yellow), 0 0 0 9px var(--red);
}

.roomJoin button:hover {
    cursor: pointer;
    background-color: #193498;
}

.roomJoin button:disabled {
    background-color: grey;
    cursor: auto;
}

h4 {
    font-family: 'Mandala', sans-serif;
    font-size: 2rem;
    color: white;
}

li {
    font-family: 'Mandala', sans-serif;
    font-size: 1rem;
    color: white;
}

