table {
    font-family: 'Orbitron', sans-serif;
    color: white;
    width: 70%;
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
}

th {
    border: 2px solid white;
}

/* #leaderdiv {
    position: relative;
    left: 1rem;
    top: 10rem;
     height:100vh;
} */

#leaderdiv {
    position: relative;
    height:100vh; 
    margin-left: 400px;
    margin-right: auto;
}



